<div id="<%= dom_id dice_roll %>">
  <p>
    <strong>User:</strong>
    <%= dice_roll.user_id %>
  </p>

  <p>
    <strong>Dice type:</strong>
    <%= dice_roll.dice_type_id %>
  </p>

  <p>
    <strong>Roll result:</strong>
    <%= dice_roll.roll_result %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= dice_roll.quantity %>
  </p>

</div>
