<div id="<%= dom_id dice_roll %>">
  <p>
    <strong>Dice Type: </strong> <%= dice_roll.dice_type_id %><br />
    <strong>Dice Quantity: </strong><%= dice_roll.quantity %><br />
    <strong>Max Roll: </strong><%= dice_roll.dice_type.sides * dice_roll.quantity %>
  </p>
  <p>
    <strong>Roll result:</strong>
    <%= dice_roll.roll_result %>
  </p>
</div>
